[Unit]
Description=Virtual desktop service
After=syslog.target

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/opt/Foldex
ExecStart=/opt/Foldex/foldex.py
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
